*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  width: 300px;
  height: 600px;
  background: transparent;
  border-radius: 25px;
  margin: auto;
  border: solid 1px #000000;
}
.app {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 25px;
}
.app_title,
.app_vmrunDirection {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  color: #000000;
}
.select_input {
  width: 58px;
  height: 55px;
}
.select_input::after {
  content: " ";
  width: 58px;
  height: 55px;
  display: block;
  background: #ffffff url(images/cloud.svg) 97% 30% no-repeat;
  transform: translate(0px, -25px);
}
.function {
  width: 300px;
  height: 509px;
  background: #7a7a7a;
  border-radius: 25px;
  padding: 20px 18px;
}
.choose {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  height: 100%;
}
.function_input,
.version_input,
.file_input,
.locaction_input,
.nameNew_input {
  width: 160px;
  height: 40px;
  background: #e1e1e1;
  border-radius: 20px;
  border: none;
  box-shadow: none;
  padding-left: 15px;
  margin-top: 5px;
}
.file_input,
.locaction_input,
.nameNew_input {
  width: 100%;
}
.howMany_input {
  width: 60px;
  height: 60px;
  background: #e1e1e1;
  border-radius: 20px;
  border: none;
  text-align: center;
  padding-left: 15px;
  font-size: 20px;
}

.file_input::after,
.locaction_input::after {
  content: "Nothing is selected";
  display: block;
  padding: 16px 0 0 5px;
  width: 100%;
  height: 100%;
  transform: translate(-6px, -25px);
  background: #e1e1e1 url(images/cloud.svg) 97% 30% no-repeat;
  background-size: 30px 30px;
}
.file_inputText,
.locaction_inputText {
  height: 40px;
    background: #e1e1e1;
    border-radius: 20px;
    border: none;
    box-shadow: none;
    padding-left: 15px;
    margin-top: 5px;
    transform: translate(0px, -44px);
}
.function_label,
.version_label,
.file_label,
.locaction_label,
.nameNew_label,
.howMany_label {
  font-family: Roboto;
  font-size: 14px;
  color: #fff;
  margin-bottom: 10px;
}
.choose_function,
.choose_versionFunction,
.choose_virtualMachine,
.choose_locaction,
.choose_nameNewVms {
  width: 160px;
  height: 70px;
}
.choose_virtualMachine,
.choose_locaction,
.choose_nameNewVms {
  width: 100%;
}
.choose_versionFunction {
  align-self: flex-start;
}
.howMany {
  width: 85px;
  height: 80px;
  align-self: flex-end;
  transform: translate(5px, 40px);
  position: absolute;
}
.buttonStart {
  width: 264px;
  height: 58px;
  background: #68a6df;
  border-radius: 20px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-size: 35px;
}
